[Debug]

## Enables in-depth logging. Note, this might generate a LOT of log entries.
# Setting type: Boolean
# Default value: false
EnableTraceLogging = false

## When enabled, creates a file on world start, in the plugin folder containing the default mob drop tables.
# Setting type: Boolean
# Default value: false
WriteDefaultDropTableToFile = false

## When enabled, creates a file on world start, in the plugin folder containing items of mobs that have drop tables.
# Setting type: Boolean
# Default value: false
WriteCreatureItemsToFile = false

## When enables, creates a file on world start in the plugin folder, containing the name of each location in the game.
# Setting type: Boolean
# Default value: false
WriteLocationsToFile = false

[DropTables]

## When enabled, all existing items in drop tables gets removed.
# Setting type: Boolean
# Default value: false
ClearAllExisting = false

## When enabled, all existing items in drop tables are removed when a configuration for that entity exist. Eg. if 'Deer' is present in configuration table, the configured drops will be the only drops for 'Deer'.
# Setting type: Boolean
# Default value: false
ClearAllExistingWhenModified = false

## When enabled, drop configurations will not override existing items if their indexes match.
# Setting type: Boolean
# Default value: false
AlwaysAppend = false

## When enabled, drop conditions are checked at time of death, instead of at time of spawn.
# Setting type: Boolean
# Default value: false
ApplyConditionsOnDeath = false

[General]

## Enable debug logging.
# Setting type: Boolean
# Default value: false
EnableDebug = false

## Disables automatic updating and saving of drop table configurations.
## This means no helpers will be added, but.. allows you to keep things compact.
# Setting type: Boolean
# Default value: true
StopTouchingMyConfigs = true

## Loads drop table configurations from supplemental files.
## Eg. drop_that.supplemental.my_drops.cfg will be included on load.
# Setting type: Boolean
# Default value: true
LoadSupplementalDropTables = true

[Performance]

## When enabled, will always attempt to create stacks of items when dropping, instead of creating items one by one.
## Eg. 35 coin stack, instead of 35 individual 1 coin drops.
# Setting type: Boolean
# Default value: false
AlwaysAutoStack = false

## When greater than 0, will limit the maximum number of items dropped at a time. This is intended for guarding against multipliers.
## Eg. if limit is 100, and attempting to drop 200 coins, only 100 will be dropped.
# Setting type: Int32
# Default value: -1
DropLimit = -1

