## Settings file was created by plugin Hardcore v1.2.8
## Plugin GUID: fracticality.valheim.hardcore

[Exceptions]

ClearMapOnDeath = false

ClearCustomSpawn = true

[General]

## Enable/disable Hardcore's functionality.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether or not to clear map data on death. Disable if map syncing is in play.
# Setting type: Boolean
# Default value: true
ClearMapOnDeath = false

## Whether or not to clear the player's bed spawn point on death.
# Setting type: Boolean
# Default value: true
ClearCustomSpawn = true

