# Config file for QuickConnect mod
# Lines starting with # and empty lines are ignored

# Put one server per line
# name:addr:port[:password]

# addr can be ether IP or a fully qualified domain name

[DUSK]Niflheim:52.149.14.67:2456:MasterBlaster!1
# [DUSK]NiflheimTest:52.149.14.67:4456:MoreThanAFeeling