# GlobalKeys are optional, any number may be added. The rule will not apply until all global keys are met.
# OriginalID, NewId, Weight, [GlobalKey], [GlobalKey]...
Greydwarf_Shaman, RRR_GDThornweaver, 50, defeated_gdking
Ghost, RRR_GhostVengeful, 50, defeated_gdking
Troll, RRR_TrollTosser, 50, defeated_gdking
odin, RRR_Grig, 20, defeated_bonemass
Deer, RRR_Hostile_T1, 4
Deer, RRR_Hostile_T2, 4, defeated_eikthyr
Deer, RRR_Hostile_T3, 4, defeated_gdking
Deer, RRR_Hostile_T4, 4, defeated_bonemass
Deathsquito, RRR_Hostile_T5, 4, defeated_dragon
Deathsquito, RRR_Hostile_T6, 4, defeated_goblinking
