/modbins/**
/modbase/**
/out/**
/downloadedarchives/**
/src/**/bin/*
/src/**/obj/*
/src/**/pkg/*
/src/**/nupkg/*
*.dll
*.wav
/src/.vs/Niflheim/v16
/src/.vs/Niflheim/DesignTimeBuild
/src/**/packages/*
.vs/slnx.sqlite-journal
.vs/slnx.sqlite
